@using DAL.DataModel
@model WebApplication.Models.UserMealsViewModel

@{
    ViewBag.Title = "Index2";
}

<h2>Daily nutritiens</h2>

@using (Html.BeginForm("Index2"))
{
    @Html.EditorFor(model => model.Date, new {@class = "form"})
    <input type="submit" value="Go" />
}

@{ Html.RenderPartial("CaloryView", Model.CaloryHelper);}

<div class="jumbotron">
    <p>Breakfast</p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Meal number
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>

        @foreach (User_Meals item in Model.Breakfast)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.UserMealId}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.UserMealId})
                </td>
            </tr>
        }

    </table>
</div>

<div class="jumbotron">
    <p>Lunch</p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Meal number
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>

        @foreach (User_Meals item in Model.Lunch)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserMealId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserMealId })
                </td>
            </tr>
        }

    </table>
</div>

<div class="jumbotron">
    <p>Dinner</p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Meal number
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>

        @foreach (User_Meals item in Model.Dinner)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserMealId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserMealId })
                </td>
            </tr>
        }

    </table>
</div>

<div class="jumbotron">
    <p>Snack</p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Meal number
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>

        @foreach (User_Meals item in Model.Snack)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserMealId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserMealId })
                </td>
            </tr>
        }

    </table>
</div>

<div class="jumbotron">
    <p>Supper</p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Meal number
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>

        @foreach (User_Meals item in Model.Supper)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MealNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserMealId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserMealId })
                </td>
            </tr>
        }

    </table>
</div>


@{ Html.RenderAction("Get", "Meal");}

